
finance/finance/__pycache__/*
finance/money/__pycache__/__init__.cpython-311.pyc
finance/money/__pycache__/urls.cpython-311.pyc
finance/money/__pycache__/views.cpython-311.pyc
finance/finance/__pycache__/settings.cpython-311.pyc
finance/money/__pycache__/admin.cpython-311.pyc
finance/money/__pycache__/models.cpython-311.pyc
