<h2>{{ person.name }}'s Person Detail</h2>

<table>
    <tr>
        <td>Name</td>
        <td>{{ person.name }} </td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>{{ person.gender.name }} </td>
    </tr>
    <tr>
        <td>DOB</td>
        <td>{{ person.dob }} </td>
    </tr>
    <tr>
        <td>Father</td>
        <td>{{ person.parent_marriage.person_one.name }} </td>
    </tr>
    <tr>
        <td>Mother</td>
        <td>{{ person.parent_marriage.person_two.name }} </td>
    </tr>
</table>