<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELLO HTML</title>
</head>
<body>
    <h2>Hello H2</h2>
    <p>This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. </p>

    <ul>
        <li>This</li>
        <li>is</li>
        <li>unordered</li>
        <li>list</li>
    </ul>

    <ol>
        <li>This</li>
        <li>is</li>
        <li>ordered</li>
        <li>list</li>
    </ol>
</body>
</html>